:root {
  /* Colours */
  --c-pure-white: hsl(0, 0%, 100%);
  --c-pure-black: hsl(0, 0%, 0%);

  --c-white: hsl(0, 0%, 96%);
  --c-lGrey: hsl(0, 0%, 91.5%);
  --c-grey: hsl(240, 3%, 39%);
  --c-dGrey: hsl(0, 0%, 15%);
  --c-black: hsl(0, 0%, 11%);

  --c-white-10: hsla(0, 0%, 100%, 0.1);
  --c-white-20: hsla(0, 0%, 100%, 0.2);
  --c-white-30: hsla(0, 0%, 100%, 0.3);
  --c-white-40: hsla(0, 0%, 100%, 0.4);
  --c-white-50: hsla(0, 0%, 100%, 0.5);
  --c-white-60: hsla(0, 0%, 100%, 0.6);
  --c-white-70: hsla(0, 0%, 100%, 0.7);
  --c-white-80: hsla(0, 0%, 100%, 0.8);
  --c-white-90: hsla(0, 0%, 100%, 0.9);

  /**
   * Thanks goes to Isoli for this wonderful colour palette!
   *
   * @see https://www.colourlovers.com/palette/1904890/600
   */
  --c-accent-1: hsl(0 79.19% 66.08%);
  --c-accent-2: hsl(351.52 41.82% 56.86%);
  --c-accent-3: hsl(334.47 21.08% 43.73%);
  --c-accent-4: hsl(293.33 11.25% 31.37%);
  --c-accent-5: hsl(210 3.7% 10.59%);

  --c-accent-4-10: hsla(293.33, 11.25%, 31.37%, 0.1);
  --c-accent-4-20: hsla(293.33, 11.25%, 31.37%, 0.2);
  --c-accent-4-30: hsla(293.33, 11.25%, 31.37%, 0.3);
  --c-accent-4-40: hsla(293.33, 11.25%, 31.37%, 0.4);
  --c-accent-4-50: hsla(293.33, 11.25%, 31.37%, 0.5);
  --c-accent-4-60: hsla(293.33, 11.25%, 31.37%, 0.6);
  --c-accent-4-70: hsla(293.33, 11.25%, 31.37%, 0.7);
  --c-accent-4-80: hsla(293.33, 11.25%, 31.37%, 0.8);
  --c-accent-4-90: hsla(293.33, 11.25%, 31.37%, 0.9);

  --c-node-fill: hsl(248.5 12.75% 10.75%);
  --c-node-hover-fill: hsl(252, 15%, 13%);

  --c-success: hsl(142, 52%, 50%);
  --c-error: hsl(358, 82%, 64%);

  /* Theming */
  --c-page-background: hsl(246.45 11.25% 10.75%);
  --c-page-foreground: hsl(248, 71%, 96%);

  /* Debugging */
  --c-debug-canvas-surface: #1900ff1a;
  --c-debug-canvas-corner: #ff0000;
  --c-debug-canvas-crosshair: #ffffff;
  --c-debug-canvas-centre: #00ff00;

  /* Gradients */
  --g-diag-accent: linear-gradient(
    45deg,
    var(--c-white) 25%,
    var(--c-accent-4) 35%,
    var(--c-accent-3) 50%,
    var(--c-accent-1) 60%,
    var(--c-white) 75%
  );

  /* Patterns */
  --p-cross: radial-gradient(circle, transparent 15%, var(--c-page-background) 16%) 0% 0%,
    linear-gradient(
        0deg,
        transparent 48%,
        var(--c-accent-4-10) 49%,
        var(--c-accent-4-10) 51%,
        transparent 52%
      )
      0% 0% / 1em 0em,
    linear-gradient(
        90deg,
        transparent 48%,
        var(--c-accent-4-10) 49%,
        var(--c-accent-4-10) 51%,
        transparent 52%
      )
      0% 0% var(--c-page-background);
}
