body {
  min-height: 100vh;
  background-color: var(--c-page-background);
  color: var(--c-page-foreground);
  font-family: var(--font-family);
  font-size: var(--text-default-font-size);
  line-height: var(--text-default-line-height);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--spacing-default);
}

a,
button {
  cursor: pointer;

  &[disabled],
  &[aria-disabled] {
    cursor: not-allowed;
  }
}

a {
  color: var(--c-accent-1);
  text-decoration: underline;

  &:hover,
  &:focus-within {
    text-decoration: none;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}
