/* Modifiers */
.CURSOR_IS_DEFAULT {
  cursor: default;
}

.CURSOR_IS_GRAB {
  cursor: grab;
}

.CURSOR_IS_GRABBING {
  cursor: grabbing;
}

.CURSOR_IS_POINTER {
  cursor: pointer;
}

.CURSOR_IS_MOVE {
  cursor: move;
}
